<div style="margin: auto;
    max-width: 1024px;
    background-color: white;
    padding: 36px 60px;
    min-height: 85vh;">
    @ChildContent
    </div>
@code {

    [Parameter] public RenderFragment ChildContent { get; set; }

}
