<div class="bf-drawer bf-scrollbar-small bf-drawer-focus-trap-fallback bf-container @(IsOpen ? "bf-drawer-open" : "") bf-drawer-with-close" data-testid="bf-drawer" tabindex="-1">
    <div>
        <button type="button" class="bf-close-button" data-testid="bf-close-button" aria-label="Close modal" @onclick=@(() => IsOpenChanged.InvokeAsync(!IsOpen))>
            <svg aria-hidden="true" focusable="false" data-prefix="fac" data-icon="bf-close" class="svg-inline--fa fa-bf-close " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M101.339 101.338C94.2209 108.457 94.2209 119.997 101.339 127.115L230.224 256L101.338 384.885C94.2203 392.004 94.2203 403.544 101.338 410.662C108.456 417.78 119.997 417.78 127.115 410.662L256.001 281.777L384.885 410.661C392.003 417.779 403.544 417.779 410.662 410.661C417.78 403.543 417.78 392.002 410.662 384.884L281.777 256L410.661 127.117C417.779 119.998 417.779 108.458 410.661 101.34C403.543 94.2215 392.002 94.2215 384.884 101.34L256.001 230.223L127.116 101.338C119.998 94.2204 108.457 94.2204 101.339 101.338Z"></path>
            </svg>
        </button>
        <header class="bf-drawer-header" data-testid="bf-drawer-header">@Title</header>
           @ChildContent
        @* <div class="bf-drawer-footer"><button class="bf-button" type="button">Visit Ásgarðr</button></div> *@
    </div>
</div>

@code {

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Title { get; set; }

    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public EventCallback<bool> IsOpenChanged { get; set; }


}
