<div class=@(Small ? "svgicon-box-small" : "svgicon-box")>
    <img src=@IconPath() height=@ImgHeight />
</div>

@code {

    [Parameter] public string Path { get; set; }

    [Parameter] public SvgIconCategory Category { get; set; }
    [Parameter] public string Name { get; set; }

    [Parameter] public bool Small { get; set; }

    public string ImgHeight { get { return Small ? "21" : "42"; } }

    public string IconPath()
    {
        try
        {

            if (string.IsNullOrEmpty(Path))
            {
                return $"resources/aksel-icons/{Category.ToString().Replace("_", " ")}/{Name}.svg";
            }
            else
            {
                var parts = Path.Split(':');
                return $"resources/aksel-icons/{parts[0].Replace("_", " ")}/{parts[1]}.svg";
            }
        }
        catch
        {
            return $"resources/aksel-icons/workplace/buildings2.svg";
        }
    }


    public enum SvgIconCategory
    {
Accessibility,
Arrows,
Development,
Files_and_application,
Home,
Interface,
Law_and_security,
Media,
Money,
Nature_and_animals,
People,
Statistics_and_math,
Status,
Transportation,
Wellness,
Workplace
    }
}
