<table class="bf-table bfc-base-3-bg bf-table-vertical-header" style="width: auto">
    <tbody>
        @ChildContent
    </tbody>
</table>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
}
