@namespace Styx
<header class="bf-nav bf-nav-top">
    <button type="button"
            class="bf-nav-mobile-toggle to-xl"
            aria-label="Open mobile nav"
            onclick="
      mobileNav.classList.toggle('bf-nav-mobile-open');
      mobileNav.classList.toggle('bf-nav-mobile-close');
    ">
        <div class="bf-nav-item bf-nav-item-icon-only">
            <i class="bf-nav-item-icon fa-solid fa-bars"></i>
        </div>
    </button>
    <div class="bf-nav-top-logo">
        <div class="bf-nav-logo">
            <div class="bf-nav-logo-graphic">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="25"
                     viewBox="0 0 24 25"
                     role="img"
                     class="bf-it-logo"
                     aria-labelledby="itLogoSvgTitle">
                    <title id="itLogoSvgTitle">Digdir</title>
                    <path xmlns="http://www.w3.org/2000/svg" class="cls-1" d="M19.73,7.06H7.56a.5.5,0,0,0-.5.5V31.3a.5.5,0,0,0,.5.5H19.73a12.37,12.37,0,0,0,0-24.73m1.19,21a8.8,8.8,0,1,1,7.18-7.18,8.8,8.8,0,0,1-7.18,7.18" transform="translate(-7.06 -7.06)" />
                </svg>
            </div>
            <div class="bf-nav-logo-name">@AppTitle</div>
        </div>
    </div>
    <div class="bf-nav-top-content">
        @TopContent
    </div>
</header>
<nav class="bf-nav bf-nav-side from-xl">
    <div class="bf-nav-side-content-wrapper bf-scrollbar-small">
        <div class="bf-nav-side-content">
            @SideContent
        </div>
        <div class="bf-nav-branding">a spirh service</div>
    </div>
</nav>
<nav class="bf-nav bf-nav-mobile bf-nav-mobile-close to-xl" id="mobileNav">
    <div class="bf-nav-mobile-content">
        @SideContent
    </div>
    <div class="bf-nav-branding">a spirh service</div>
</nav>
<div class="bf-nav-mobile-overlay to-xl"></div>

@code {

    [Parameter] public string AppTitle { get; set; }
    [Parameter] public RenderFragment TopContent { get; set; }
    [Parameter] public RenderFragment SideContent { get; set; }


}
