@namespace Styx

<a href=@Url>
    <div class="bf-nav-item">
        <i class="bf-nav-item-icon fa-solid fa-@Icon"></i>
        @ChildContent
    </div>
</a>

@code {
    [Parameter] public string Url { get; set; } = "#";
    [Parameter] public string Icon { get; set; } = "bars";
    [Parameter] public RenderFragment ChildContent { get; set; }
}
