@namespace Altinn.AccessMgmt.WebComponents
<CascadingValue TValue="RadioGroup" Value="this">
    <div class="bf-radiogroup" style="@(Vertical ? "display: inline-grid;" : "")">
        @ChildContent
    </div>
</CascadingValue>

@code {

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Key { get; set; }
    [Parameter] public string Value { get; set; } = "";
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public bool Vertical { get; set; } = false;

    public void Set(string value)
    {
        if (Value == value)
        {
            Value = "";
        }
        else
        {
            Value = value;
        }
        ValueChanged.InvokeAsync(Value);
    }
}
