<table class="bf-table bfc-base-3-bg">
    <thead>
        @Head
    </thead>
    <tbody>
        @Body
    </tbody>
</table>

@code {

    [Parameter] public RenderFragment Head { get; set; }
    [Parameter] public RenderFragment Body { get; set; }

}
