<span>@icon()</span>

@code {
        [Parameter] public Guid? Id { get; set; }
        [Parameter] public string Name { get; set; }

    public string icon()
    {
        if (Id.HasValue)
        {
            if (Id.Value.Equals(Guid.Parse("8C216E2F-AFDD-4234-9BA2-691C727BB33D")))
            {
                return "🏢";
            }
            else
            {
                return "👤";
            }
        }

        return Name.ToLower() == "organisasjon" ? "🏢" : "👤";
    }
}
