<div class="switchButton @(Selected ? "selected" : "")" @onclick="Select">@ChildContent</div>

@code {

    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool Selected { get; set; }
    [Parameter] public EventCallback<bool> SelectedChanged { get; set; }

    void Select()
    {
        Selected = !Selected;
    }
}
