@namespace Styx

<label class="bf-checkbox @(UseButtonStyle ? "bf-checkbox-button" : "") @(Compact ? "bf-checkbox-small" : "")">
    <input type="radio" checked="@(Group.Value == this.Value)" id=@Value name=@Group.Key @onchange=@(() => Group.Set(Value)) />
    <span class="bf-checkbox-icon">
        <i class="bf-checkbox-checked fa-solid fa-circle-dot"></i>
        <i class="bf-checkbox-unchecked fa-regular fa-circle"></i>
    </span>
    @ChildContent
</label>


@code {

    [CascadingParameter] public RadioGroup Group { get; set; }
    [Parameter] public string Value { get; set; }
    [Parameter] public bool UseButtonStyle { get; set; }
    [Parameter] public bool Compact { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
