@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore

<NavigationLayout AppTitle="Digdir | Auth | POC">
    <TopContent>
        <NavGroup Icon="clock-rotate-left" Title=@("Timemachine " + $"{UserData.AsOf?.LocalDateTime.ToShortDateString()}")>
            <div>
                <input type="datetime-local" @bind-value=UserData.AsOf />
                <Button Variant="Button.ButtonVariant.Flat" OnClick="@(() => UserData.AsOf = null)">Clear</Button>
            </div>
        </NavGroup>
        <NavGroup Icon="language" Title="Språk" ContentStyle="display: flex; flex-direction: column; gap: 6px;">
            <RadioGroup Key="language" @bind-Value=@UserData.Language>
                <RadioItem UseButtonStyle Compact Value="">Bokmål</RadioItem>
                <RadioItem UseButtonStyle Compact Value="nno">Nynorsk</RadioItem>
                <RadioItem UseButtonStyle Compact Value="eng">English</RadioItem>
            </RadioGroup>
           
        </NavGroup>
        <a href="/profile" aria-label="Profile">
            <div class="bf-nav-item bf-nav-item-icon-only">
                <i class="bf-nav-item-icon fa-solid fa-user"></i>
            </div>
        </a>
    </TopContent>
    <SideContent>
        <NavItem Icon="house" Url="/">Home</NavItem>
        <NavItem Icon="box-circle-check" Url="packages">Tilgangspakker</NavItem>
        <NavItem Icon="layer-group" Url="areas">Områder</NavItem>
        <NavItem Icon="hat-cowboy-side" Url="roles">Roller</NavItem>
        <NavItem Icon="tags" Url="tags">Tags</NavItem>
        <NavItem Icon="truck-field" Url="providers">Providers</NavItem>
        <NavItem Icon="building" Url="entities">Entities</NavItem>
        <NavItem Icon="buildings" Url="entitytype">EntityTypes</NavItem>
        <NavItem Icon="cauldron" Url="resources">Resources</NavItem>
    </SideContent>
</NavigationLayout>

@code 
{
}
