<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/altinn.accessmgmt.webcomponents/css/all.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="digdir.poc.auth.web.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="https://kit.fontawesome.com/d72ebf59ab.js" crossorigin="anonymous"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
