@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject LocalRepo repo
@inject ProtectedSessionStorage ProtectedSessionStore

<NavigationLayout AppTitle="Digdir | Auth | POC">
    <TopContent>
@*         <NavGroup Icon="clock-rotate-left" Title=@("Timemachine " + $"{UserData.AsOf?.LocalDateTime.ToShortDateString()}")>
            <div>
                <input type="datetime-local" @bind-value=UserData.AsOf />
                <Button Variant="Button.ButtonVariant.Flat" OnClick="@(() => UserData.AsOf = null)">Clear</Button>
            </div>
        </NavGroup>
        <NavGroup Icon="language" Title="Språk" ContentStyle="display: flex; flex-direction: column; gap: 6px;">
            <RadioGroup Key="language" @bind-Value=@UserData.Language>
                <RadioItem UseButtonStyle Compact Value="">Bokmål</RadioItem>
                <RadioItem UseButtonStyle Compact Value="nno">Nynorsk</RadioItem>
                <RadioItem UseButtonStyle Compact Value="eng">English</RadioItem>
            </RadioGroup>
           
        </NavGroup> *@
        <a href="/profile" aria-label="Profile">
            <div class="bf-nav-item bf-nav-item-icon-only">
                <i class="bf-nav-item-icon fa-solid fa-user"></i>
            </div>
        </a>
    </TopContent>
    <SideContent>

        <NavItem Icon="house" Url="/">Home</NavItem>
        @foreach(var grp in repo.GetGroups())
        {
            <NavItem Icon="layer-group" Url=@($"/areagroup/{grp.Id}")>@grp.Name</NavItem>
        }

    </SideContent>
</NavigationLayout>

@code 
{



}
