@page "/element/{Id:guid}"
@inject IElementService elementService

@if (Element != null)
{
    <PageTitle>@Element.Name</PageTitle>

    <PageHeader>
        <LeftContent>
            <BreadcrumbContainer>
                <BreadcrumbItem Url=@($"/resource/{Element.Resource.Id}")>@Element.Resource.Name</BreadcrumbItem>
            </BreadcrumbContainer>
            <H1>@Element.Name</H1>
        </LeftContent>
        <RightContent>
        </RightContent>
    </PageHeader>
}

@code {

    [Parameter] public Guid Id { get; set; }
    public ExtElement Element { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var opt = UserData.GetRequestOptions();
        Element = await elementService.GetExtended(Id, options: opt);
    }
}
