@namespace Altinn.AccessMgmt.WebComponents
@* <div class="bf-message bfc-dimmed-bg">bf-message bfc-dimmed-bg</div>
<div class="bf-message bfc-theme-fade-bg">bf-message bfc-theme-fade-bg</div>
<div class="bf-message bfc-success-fade-bg">bf-message bfc-success-fade-bg</div>
<div class="bf-message bfc-warning-fade-bg">bf-message bfc-warning-fade-bg</div>
<div class="bf-message bfc-alert-fade-bg">bf-message bfc-alert-fade-bg</div> *@

<div class="bf-message @cssClass()">
    @if (!string.IsNullOrEmpty(Title))
    {   
    <header class="bf-message-header">
        <i class="fa-solid fa-circle-info fa-fw bf-message-icon"></i>
        @Title
    </header>
    }
    @if(ChildContent != null)
    {    
    @ChildContent
    }
</div>

@code {

    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public MsgState State { get; set; }

    private string cssClass()
    {
        switch (State)
        {
            default:
            case MsgState.Default:
                return "bfc-theme-fade-bg";
            case MsgState.Success:
                return "bfc-success-fade-bg";
            case MsgState.Warning:
                return "bfc-warning-fade-bg";
            case MsgState.Alert:
                return "bfc-alert-fade-bg";
            case MsgState.Neutral:
                return "bfc-dimmed-bg";
        }
    }

    public enum MsgState { Default, Success, Warning, Alert, Neutral }

}
