@namespace Altinn.AccessMgmt.WebComponents
<tr class="bf-table-row bf-table-row-compact">
    <th>@Title</th>
    <td>@ChildContent</td>
</tr>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
