@import url("bifrost/dist/bifrost-all.css");

.bf-split-badge {
    display: flex;
    font-size: var(--bf-font-size-m);
    font-weight: 600;
    margin: 4px 0px;
}

.bf-split-badge-key {
    padding: 2px 4px 2px 8px;
    border-top-left-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;
}

.bf-split-badge-value {
    padding: 2px 8px 2px 4px;
    border-top-right-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
}
.bf-badge {
    margin: 4px 2px;
}