@page "/areagroup/{id}"
@using Altinn.Authorization.AccessPackages.Models
@inject LocalRepo repo

<Article>

    @if(Group != null)
    {
        <BreadcrumbContainer>
            <BreadcrumbItem Url=@($"/areagroup/{Group.Id}")>@Group.Name</BreadcrumbItem>
        </BreadcrumbContainer>

        <H1>@Group.Name</H1>
        <p>@Group.Description</p>

        <table class="bf-table bfc-base-3-bg">
            <thead>
                <tr class="bf-table-row bf-table-row-compact">
                    <th>Områder</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var area in Areas)
                {
                    <tr class="bf-table-row bf-table-row-compact">
                        <td><a href=@($"/area/{area.Id}")>@area.Name</a></td>
                    </tr>
                }
            </tbody>
        </table>

    }

</Article>

@code {

    [Parameter] public string id { get; set; }
    public AreaGroup Group { get; set; }
    public IEnumerable<Area> Areas { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Group = repo.GetGroups().First(t => t.Id == Guid.Parse(id));
        Areas = repo.GetAreas(Group.Id);
    }
}
