name: "CD: Infra"

on:
  workflow_dispatch:
    inputs:
      skip-hub:
        description: "Skip hub deployment"
        required: false
        default: false
        type: boolean

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  hub:
    name: Hub
    secrets: inherit
    if: ${{ github.event_name != 'workflow_dispatch' || github.event.inputs['skip-hub'] != false }}
    uses: ./.github/workflows/_cd-infra-template.yml
    with:
      environment: prod
      tf_state: hub.tfstate
      working_dir: infra/deploy/hub

  test-spoke:
    name: Spoke Test
    needs: hub
    secrets: inherit
    uses: ./.github/workflows/_cd-infra-template.yml
    strategy:
      fail-fast: false
      matrix:
        environment: [at22, at23, at24, yt01]
    with:
      environment: ${{ matrix.environment }}
      tf_state: spokes.tfstate
      working_dir: infra/deploy/spoke

  staging-spoke:
    name: Spoke Staging
    needs: test-spoke
    secrets: inherit
    uses: ./.github/workflows/_cd-infra-template.yml
    strategy:
      fail-fast: false
      matrix:
        environment: [tt02]
    with:
      environment: ${{ matrix.environment }}
      tf_state: spokes.tfstate
      working_dir: infra/deploy/spoke

  prod-spoke:
    name: Spoke Prod
    needs: staging-spoke
    secrets: inherit
    uses: ./.github/workflows/_cd-infra-template.yml
    strategy:
      fail-fast: false
      matrix:
        environment: [prod]
    with:
      environment: ${{ matrix.environment }}
      tf_state: spokes.tfstate
      working_dir: infra/deploy/spoke
