on:
  push:
    branches:
      - main

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - id: release
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json

      - name: Log release output
        env:
          RELEASE_OUTPUT: ${{ toJSON(steps.release.outputs) }}
        run: 'echo "Release output: $RELEASE_OUTPUT"'

    outputs:
      release_created: ${{ steps.release.outputs.releases_created }}
      paths_released: ${{ steps.release.outputs.paths_released }}
      full: ${{ toJSON(steps.release.outputs) }}

  publish:
    runs-on: ubuntu-latest
    if: needs.release-please.outputs.release_created == 'true'
    needs:
      - release-please

    permissions:
      contents: write
      packages: write

    strategy:
      matrix:
        path: ${{fromJson(needs.release-please.outputs.paths_released)}}

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ format('refs/tags/{0}', fromJSON(needs.release-please.outputs.full)[format('{0}--tag_name', matrix.path)]) }}

      - name: Setup .NET
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
        with:
          dotnet-version: |
            8.0.x
            9.0.x

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 20

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 9
          run_install: |
            - cwd: .github/scripts
              args: [--frozen-lockfile]
            - args: [--global, tsx]

      - name: Build
        working-directory: ${{ matrix.path }}
        run: dotnet build -c Release

      - name: Test
        working-directory: ${{ matrix.path }}
        run: dotnet test -c Release --no-build

      - name: Pack
        working-directory: ${{ matrix.path }}
        run: dotnet pack -c Release --no-build

      - name: Create artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{ fromJSON(needs.release-please.outputs.full)[format('{0}--tag_name', matrix.path)] }}
          path: artifacts/**/*.nupkg
          if-no-files-found: error

      - name: Upload packages to release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          FILES_GLOB: artifacts/**/*.nupkg
          RELEASE_ID: ${{ fromJSON(needs.release-please.outputs.full)[format('{0}--id', matrix.path)] }}
        run: tsx ./.github/scripts/upload-packages-to-release.mts

      - name: Publish to GitHub Packages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FILES_GLOB: artifacts/**/*.nupkg
        run: |
          dotnet nuget add source --username Altinn --password $GITHUB_TOKEN --store-password-in-clear-text --name github "https://nuget.pkg.github.com/Altinn/index.json"
          tsx ./.github/scripts/publish-to-github-packages.mts

      - name: Publish to NuGet
        env:
          NUGET_APIKEY: ${{ secrets.NUGET_APIKEY }}
          FILES_GLOB: artifacts/**/*.nupkg
        run: |
          tsx ./.github/scripts/publish-to-nuget.mts
